body{
    background-color:#0f172a;
    color:white;

    font-family:Arial, Helvetica, sans-serif;

    margin:0;
    padding:0;

    line-height:1.8;
}


/* Hero */

.hero{

    padding:120px 80px;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
}

.hero h1{

    font-size:60px;
    margin-bottom:10px;
}

.hero h2{

    font-size:32px;
    color:#38bdf8;

    margin-bottom:30px;
}

.hero p{

    width:60%;

    font-size:20px;
    color:#cbd5e1;
}


/* About */

.about{

    padding:80px;
}

.about h2{

    font-size:36px;
    margin-bottom:30px;

    color:#38bdf8;
}

.about p{

    font-size:20px;

    color:#cbd5e1;

    width:70%;
}


/* Skills */

.skills{

    padding:80px;

    background-color:#111827;
}

.skills h2{

    font-size:36px;
    margin-bottom:30px;

    color:#38bdf8;
}

.skills ul{

    list-style:none;
    padding:0;
}

.skills li{

    display:inline-block;

    margin:10px;

    padding:12px 20px;

    background-color:#1e293b;

    border-radius:10px;

    font-size:18px;
}


/* Projects */

.projects{

    padding:80px;
}

.projects h2{

    font-size:36px;
    margin-bottom:30px;

    color:#38bdf8;
}

.projects h3{

    font-size:28px;
}

.projects p{

    width:70%;

    color:#cbd5e1;

    font-size:18px;
}

/* Navigation */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    background-color:#020617;

    position:sticky;

    top:0;
}

.logo{

    font-size:24px;

    font-weight:bold;

    color:#38bdf8;
}

nav ul{

    display:flex;

    list-style:none;
}

nav li{

    margin-left:30px;

    cursor:pointer;

    color:#cbd5e1;
}


/* AI Workflow */

.ai-workflow{

    padding:80px;

    background-color:#0f172a;
}

.ai-workflow h2{

    font-size:36px;

    margin-bottom:30px;

    color:#38bdf8;
}

.ai-workflow p{

    width:70%;

    color:#cbd5e1;

    font-size:18px;
}

.workflow-box{

    display:flex;

    margin-top:40px;

    gap:20px;
}

.workflow-card{

    flex:1;

    background-color:#1e293b;

    padding:30px;

    border-radius:16px;
}

.workflow-card h3{

    color:#38bdf8;
}


/* GitHub */

.github{

    padding:80px;

    background-color:#111827;
}

.github h2{

    color:#38bdf8;
}


/* Footer */

footer{

    padding:30px;

    text-align:center;

    background-color:#020617;

    color:#94a3b8;
}

/* Architecture */

.architecture{

    margin-top:40px;
}

.architecture h4{

    color:#38bdf8;

    margin-bottom:20px;
}

.architecture-box{

    display:flex;

    align-items:center;

    gap:20px;

    margin-top:20px;
}

.arch-card{

    background-color:#1e293b;

    padding:20px 30px;

    border-radius:12px;

    font-weight:bold;
}

.arch-arrow{

    font-size:30px;

    color:#38bdf8;
}


/* Problem Solving */

.problem-solving{

    margin-top:50px;
}

.problem-solving h4{

    color:#38bdf8;
}

.problem-solving ul{

    margin-top:20px;
}

.problem-solving li{

    margin-bottom:15px;

    color:#cbd5e1;
}


/* Tech Stack */

.tech-stack{

    margin-top:30px;
}

.tech-stack span{

    display:inline-block;

    background-color:#0ea5e9;

    color:white;

    padding:10px 18px;

    border-radius:30px;

    margin:10px;

    font-size:14px;
}